# Node modules
node_modules/

# Environment variables
.env

# Hardhat files
artifacts/
cache/
coverage/
coverage.json
ignition/deployments/chain-31337
typechain-types/

# Remix dependencies
.deps
.states